

.navSpace {
    min-height: 30px;
}

.appGrid-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 80vw;
    margin: auto;



}
.card-container {
    pointer-events: all;
}

.navSpace {
    min-height: 30px;
}

.appCards {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 5px black;
    padding: 15px 15px;
    list-style-type: none;
    font-size: 120%;
    background: radial-gradient(ellipse at 50% 50%, rgba(155, 155, 155, 1) 0%, rgba(85, 85, 85, 0.89) 61%, rgba(8, 8, 8, 0.82) 100%);
    transition: scale ease-out 100ms;
    border-radius: 10px;
    position: relative;
}

.appCards:hover {
    box-shadow: rgba(150, 150, 150, 0.75) 3px 5px 15px;
}

.appTitle {
    font-size: 1.5em;
    font-weight: 900;
}

.appSubTitle {
    font-size: 1.2em;
}

.appText {
    font-size: 1em
}

.appImage {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;


}

img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    border: 3px;
    border: solid;
    border-color: rgb(130, 130, 130);
    box-shadow: rgba(100, 100, 100, 0.75) 3px 5px 15px;
}

.cardButton {
    background-color: rgb(57, 0, 110);
  border: 2px;
  border-style: solid;
  border-color: white;
  margin: 7px 5px 2px 5px;
  max-width: 200px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  padding: 5px;
  
  box-shadow:
    0 0 5px 5px #fff,
    0 0 5px 5px #f0f,
    0 0 5px 5px #0ff;


}
.cardButton:hover {
    animation: riseup .5s forwards;
    
  }
@keyframes riseup {
    from {
        scale: 1
    }
    to {
        scale: 1.15
        
    }
  }

.button-container {
    display: flex;
    
    align-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

.cardButton:hover {
    scale: 1.2;

}

#bottom {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 5px;

}
@media screen and (max-width: 800px) {
    .appCards {
        font-size: 90%;
    }
    .cardButton {
        max-width: 110px;
        padding: 5px 5px;
    }
}
@media screen and (max-width: 620px) {
    .appGrid-container {

    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }
    .appCards {
        font-size: 90%;
        
    }
    .cardButton {
        max-width: 85px;
        padding: 5px 5px;
    }
}
@media screen and (max-width: 420px) {
    .appGrid-container {

    
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        }

    .cardButton {
        
        padding: 5px 5px;
    }
}    