
.mainNavBar-container {
    display: flex;
    align-content: flex-start;
    align-self: center;
    flex-direction: row;
    min-height: 20px;      
    align-items: center;
    flex-wrap: nowrap;
    justify-content:center;   
    position: fixed;
    top: 0;    
    width: 100%;
    background-color: #000000;
    z-index: 1;
  }
  .dropMenu {
    background: rgb(145, 145, 145);
    color: black;
  }
  .dropText {
    text-decoration: none;
    color: black;

  }
  .dropText:hover, .dropText:focus, .dropText:active {
    animation: riseup .5s forwards;
    color:black
  }
  .mainNavItem {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 100%;
    font-family: sans-serif;
    text-align: center;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
    margin: auto;
    height: 9px;
    text-decoration: none;
    min-width: 120px;
    max-width: 250px;
    border: 10px;
    border-radius: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    background: radial-gradient(rgb(7, 7, 8) 40%, rgb(69, 69, 69) 70%, rgb(231, 231, 234) 100%);
  }
  .linkN:hover {
    animation: riseup .5s forwards;
    
  }
  @keyframes riseup {
    from {
        scale: 1
    }
    to {
        scale: 1.15
        
    }
  }
  @media screen and (max-width: 500px) {
    .mainNavItem {
      font-size: 70%;
      min-width: 30px;
    }
  }
  